# Web framework config
export APP_NAME="Search Service"
export GO_ENV=development
export PORT=3000
export URL=dns:///0.0.0.0

export OPENSEARCH_NODE=http://localhost:9200
export OPENSEARCH_USERNAME=
export OPENSEARCH_PASSWORD=
export NUMBER_OF_SHARDS=1
export NUMBER_OF_REPLICAS=1

# Sentry
export SENTRY_DSN=
export SENTRY_ENVIRONMENT=development
export SENTRY_DEBUG=true

# redis
export REDIS_URL=redis://localhost:6379
export REDIS_HOST=
export REDIS_PORT=
export REDIS_PASSWORD=
export REDIS_DB=0

export RABBITMQ_URL=

# Mongo
export MONGODB_URI=
export DATABASE_NAME=
export CONTENT_COLLECTION=
export TAG_COLLECTION=
export COLLECTIONS_COLLECTION=
export CONTENT_TAGS_COLLECTION=
export CONTENT_COLLECTIONS_COLLECTION=

# JWT
JWT_SECRET_KEY=
JWT_ISSUER=
JWT_AUTHORIZED_APPS=